<script>

  const centerUSAFocus = {
    zoomSnap: 0.1,
    zoom: 4,
    center: [38.922, -97.459],
    scrollWheelZoom: false
  };

  const centerMassachusettsFocus = {
    zoomSnap: 0.1,
    zoom: 7,
    center: [42.422, -71.459],
    scrollWheelZoom: false
  };

  function createNewLocationMarker (longLat, direction, name, city) {
    return L.circleMarker(longLat, {
        color: '#F26D73',
        fillColor: '#EB3349',
        opacity: 0.4,
        weight: 10,
        fillOpacity: 0.8,
        radius: 12,
        interactive: true
      })
      .bindTooltip(name+'<span class="-tooltip-small">'+city+'</span>', {
        permanent: true,
        direction: direction
      })
      .on('mouseover', function (e) {
        this.setStyle({
          radius: 18,
          weight: 15
        });
      })
      .on('mouseout', function (e) {
        this.setStyle({
          radius: 12,
          weight: 10
        });
      });
  }

  const map = L.map('loc_map', centerMassachusettsFocus);

  // Tile Layer
  L.tileLayer('https://api.mapbox.com/styles/v1/nickzuber/ciwefbg41002e2qofpbjddgap/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoibmlja3p1YmVyIiwiYSI6ImNpd2VmNm8zZjBhdjUyb3Rka2RoNjcwenMifQ.qDwVejU1onQUFAFcQ_wvgg', {
    maxZoom: 15,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(map);

  // Redwood City, CA [THE DREAM(TM)]
  // L.circleMarker([37.4852, -122.2364], circleDesign)
  //   .bindTooltip('Box<span class="-tooltip-small">Redwood City, CA</span>', {
  //     permanent: true,
  //     direction: 'left'
  //   })
  //   .addTo(map);

  // Boston, MA
  createNewLocationMarker([42.3601, -71.0589], 'right', 'Robin Powered', 'Boston, MA').addTo(map);

  // Haverhill, MA
  createNewLocationMarker([42.7762, -71.0773], 'left', 'Veranda Outdoors', 'Haverhill, MA').addTo(map);
</script>
