<div class="post-footer">
  <div class="post-row">
    <div class="post-image">
      <div class="post-icon"></div>
    </div>
    <a target="_blank" href="https://twitter.com/Nick_Zuber">
			<div class="post-content">
				<span class="post-name">{{ site.full_name }}</span>
				<span class="post-desc">{{ site.job_title }} {{ site.job_segue }} {{ site.job_place }}</span>
			</div>
		</a>
    <div class="post-social">
      <a class="social-link twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }} — @nick_zuber " data-size="large">Tweet</a>
      <div class="social-link fb-share-button" data-href="http://nickzuber.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.github.url }}&amp;src=sdkpreparse">Share</a></div>
    </div>
  </div>
</div>
{% include twitter.html %}
{% include facebook.html %}

