<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        {% if page.layout == "post" %}{% include postFooter.html %}{% else %}{% include footer.html %}{% endif %}
      </div>
    </div>
    <script type="text/javascript">setTimeout(function(){console.log("%cUp for a challenge? %cNot sure what to do with this yet, so just have fun.","color: #ff4298","color: #5694f1"),console.log("%cIf you solve it, email it to me or something. %cMaybe you'll win a prize — that sounds exciting!","color: #2cb673","color: #fe4a49"),console.log("%ctr >>> '[\\040-\\054*37][\\056-\\075*22]3' '?-[N' '%0-)8-0(%-/(!.+ <<< LC_CTYPE/C","color: #999")},1);</script>
  </body>

</html>
