---
layout: default
---
<article class="main-page">

  <div class="header-section">
    <div class="primary-image"></div>
    <h1 class="primary-header">Nick Zuber</h1>
    <h2 class="secondary-header"><span class="title">{{ site.job_title }}</span> {{ site.job_segue }} <span class="place">{{ site.job_place }}</span></h2>
		<div class="header-hot-links">
			<a target="_blank" href="https://github.com/nickzuber"><div class="hot-link -github"></div></a>
			<a target="_blank" href="http://stackoverflow.com/users/5055063/nick-zuber"><div class="hot-link -stackoverflow"></div></a>
			<a target="_blank" href="https://angel.co/nicholas-zuber"><div class="hot-link -angellist"></div></a>
			<a target="_blank" href="https://www.linkedin.com/in/nickzuber"><div class="hot-link -linkedin"></div></a>
			<a target="_blank" href="https://twitter.com/Nick_Zuber"><div class="hot-link -twitter"></div></a>
			<a target="_blank" href="https://www.instagram.com/nick_zuber/"><div class="hot-link -instagram"></div></a>
			<a target="_blank" href="https://www.facebook.com/zuber.nicholas"><div class="hot-link -facebook"></div></a>
		</div>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{% include emit.html %}
