---
layout: default
---
<article class="main-page">

  <div class="header-section">
    <div class="primary-image"></div>
    <h1 class="primary-header">Nick Zuber</h1>
    <h2 class="secondary-header"><span class="title">{{ site.job_title }}</span> {{ site.job_segue }} <span class="place">{{ site.job_place }}</span></h2>
		<div class="header-hot-links">
			
			<a target="_blank" href="https://github.com/nickzuber">
				<div class="hot-link">
					<svg viewBox="0 0 256 250"><use xlink:href="{{ '/icons.svg#github' | prepend: site.url }}"></svg>
				</div>
			</a>
			
			<a target="_blank" href="https://www.npmjs.com/~nickzuber">
				<div class="hot-link">
					<svg viewBox="-2 -8 94 94"><use xlink:href="{{ '/icons.svg#npm' | prepend: site.url }}"></svg>
				</div>
			</a>

			<a target="_blank" href="http://stackoverflow.com/users/5055063/nick-zuber">
				<div class="hot-link">
					<svg viewBox="-20 0 120 120"><use xlink:href="{{ '/icons.svg#stackoverflow' | prepend: site.url }}"></svg>
				</div>
			</a>
<!--			
			<a target="_blank" href="https://soundcloud.com/zubes-794318956">
				<div class="hot-link">
					<svg viewBox="5.12 10.095 52.916 52.972"><use xlink:href="{{ '/icons.svg#soundcloud' | prepend: site.url }}"></svg>
				</div>
			</a>
-->	

			<a target="_blank" href="https://angel.co/nicholas-zuber">
				<div class="hot-link">
					<svg viewBox="-50 -15 400 400"><use xlink:href="{{ '/icons.svg#angellist' | prepend: site.url }}"></svg>
				</div>
			</a>

			<a target="_blank" href="https://www.linkedin.com/in/nickzuber">
				<div class="hot-link">
					<svg viewBox="380 -5 135 135"><use xlink:href="{{ '/icons.svg#linkedin' | prepend: site.url }}"></svg>
				</div>
			</a>
			
			<a target="_blank" href="https://twitter.com/Nick_Zuber">
				<div class="hot-link">
					<svg viewBox="0 -30 256 256"><use xlink:href="{{ '/icons.svg#twitter' | prepend: site.url }}"></svg>
				</div>
			</a>
<!--			
			<a target="_blank" href="https://www.instagram.com/nick_zuber/">
				<div class="hot-link">
					<svg viewBox="0 0 256 256"><use xlink:href="{{ '/icons.svg#instagram' | prepend: site.url }}"></svg>
				</div>
			</a>
-->
			<a target="_blank" href="https://www.facebook.com/zuber.nicholas">
				<div class="hot-link">
					<svg viewBox="0 0 256 256"><use xlink:href="{{ '/icons.svg#facebook' | prepend: site.url }}"></svg>
				</div>
			</a>

		</div>
	</div>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{% include emit.html %}
