/**
 * Site header
 */

.top-banner {
  width: 100%;
  background: #fff;
  display: block;
  position: relative;
  padding: 10px;
  text-align: right;
  box-sizing: border-box;
}



/**
 * Links
 */

.top-banner a {
  font-size: $small-font-size;
  font-weight: 300;
  padding: 8px 12px;
  letter-spacing: .25px;
}

a.showcase-link {
  display: inline-block;
  color: #fff;
  margin: 5px;
  margin-left: 10px;
  background: $secondary-color;
  border-radius: 3px;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
