/**
 * Site header
 */

.top-banner {
  width: 100%;
  background: none;
  display: block;
  position: relative;
  text-align: right;
  box-sizing: border-box;
}

ul.post-list {
  list-style: none;
  text-align: left;

  li {
    padding: 0 0 20px;
    margin: 20px 0 0;

    .post-link {
      font-size: 18px;
      font-weight: 400;
    }
    .post-date {
      float: right;
      font-weight: 300;
      font-size: 18px;
      color: $byline-gray;
      opacity: .8;
    }
  }
}


/**
 * Links
 */

.top-banner a {
  font-size: $small-font-size;
  color: $gray;
  display: inline-block;
  vertical-align: middle;
  margin: 30px 10px;
}

.top-banner a.not-btn {
  padding: 30px 10px;
  margin: 0;
}

.top-banner a.adjust-margin {
  margin: 10px !important;
}

a.white {
  color: #fff;
}


/**
 * Page content
 */

.header-section {
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.primary-image {
  background: url(../img/profile.jpg) 50% 0% no-repeat;
  background-size: 175%;
  display: block;
  position: relative;
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  @include transitions;

  &:active {
    transform: scale(.9);
  }
}

.pulse-orb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  z-index: -1;
}

.primary-header {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 3em;
  margin: 0;
  color: #222;
  text-align: center;
}

.secondary-header {
  font-size: 1.4em;
  font-weight: 400;
  color: #aaa;
  margin: 5px 0 40px;
  letter-spacing: 0;

  .place {
    color: $red;
    font-weight: 500;
  }
}

$default-width: 520px;

.home {
  padding: 50px 0 0;
  width: $default-width;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid $border-gray;
  text-align: left;
}
.footer {
  width: $default-width;
  position: relative;
  margin: 50px auto 0;
  padding: 40px 0 0;
  border-top: 1px solid $border-gray;

  p {
    color: $byline-gray;
    opacity: .8;
    font-size: 14px;
    margin-bottom: 53px;
  }
}

@media (max-width: 560px) {
  .home, .footer {
    width: 100% !important;
  }
}

.category-item {
  margin: 0  auto;
  display: table-row;
  text-align: left;
  width: 100%;

  p, a {
    font-size: 16px;
    line-height: 25px;
  }

  /* Work around for being unable to add margins to tabel-* elements */
  p {
    margin-bottom: 50px;
  }
  h3 {
    margin-top: 25px;
  }

  .icon-container {
    display: table-cell;
    width: 100px;

    .icon {
      background-color: $red;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      height: 70px;
      width: 70px;
      border-radius: 100%;
      position: absolute;
      top: 25px;
    }

    .-heart {
      background-image: url(../img/heart.png);
      background-color: transparent;
    }
    .-laptop {
      background-image: url(../img/laptop.png);
      background-color: transparent;
    }
    .-pencil {
      background-image: url(../img/pencil.png);
      background-color: transparent;
    }
    .-social {
      background-image: url(../img/social.png);
      background-color: transparent;
    }
  }

  .content {
    display: table-cell;
  }
}

/**
 * Posts
 */

.post-header {
  text-align: center;

  .post-title {
    margin-top: 50px;
  }

  .post-meta {
    font-weight: 300;
    font-size: $small-font-size;
    color: $byline-gray;
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }
}

.post-footer {
  display: table;
  width: 100%;
  padding: 40px 0;
  margin: 65px 0 40px;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;

  .post-row {
    display: table-row;

    a {
      color: $dark-navy;
    }

    .post-image {
      width: 55px;

      .post-icon {
        background: url(../img/profile.jpg) 50% 0% no-repeat;
        background-size: 175%;
        height: 35px;
        width: 35px;
        box-shadow: 0 0 0 3px $background-gray, 0 0 0 4px $border-gray;
        border-radius: 100%;
      }
    }

    .post-image, .post-content, .post-social {
      display: table-cell;
    }
    .post-social {
      text-align: right;

      .social-link {
        margin-top: 1px;
        margin-left: 5px;
      }
    }
  }
  
  span {
    display: block;
    font-size: $small-font-size;
    margin: 4px 0;
  }
  .post-desc {
    color: $byline-gray;
  }
}

