/**
 * Site header
 */

.top-banner {
  width: 100%;
  background: none;
  display: block;
  position: relative;
  text-align: right;
  box-sizing: border-box;
}



/**
 * Links
 */

.top-banner a {
  font-size: $small-font-size;
  color: $gray;
  display: inline-block;
  vertical-align: middle;
  margin: 30px 15px;
}

.top-banner a.adjust-margin {
  margin: 15px !important;
}

a.white {
  color: #fff;
  margin: 15px 30px 15px 15px;
}


/**
 * Page content
 */

.header-section {
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.primary-image {
  background: url(../img/profile.jpg) 50% 0% no-repeat;
  background-size: 175%;
  display: block;
  position: relative;
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  @include transitions;
}

.pulse-orb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  z-index: -1;
}

.primary-header {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 3em;
  margin: 0;
  color: #222;
  text-align: center;
}

.secondary-header {
  font-size: 1.4em;
  font-weight: 400;
  color: #aaa;
  margin-top: 5px;
  letter-spacing: 0;

  .place {
    color: $red;
    font-weight: 500;
  }
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
  margin-top: 50px;
  margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
