---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600';

// Mystery .highlight ruining my life, gonna overwrite here
.highlight {
	background: #333 !important;
	padding: 20px !important;
	margin: 10px 0 30px !important;
}

::-moz-selection {
	background: rgba(45, 153, 211, 0.2);
}
::selection {
	background: rgba(45, 153, 211, 0.2);
}
::-moz-selection {
	background: rgba(45, 153, 211, 0.2);
}

// MathJax normal sized font (could be bad if things get too small with this)
.MathJax span {
	font-size: 15px;
}

// Leaflet tooltip override
.leaflet-tooltip {
	opacity: 1 !important;
  padding: 10px 15px;
  background-color: #32383E;
  border: #32383E;
	color: #fff;
}
.leaflet-tooltip-right {
	margin-left: 10px;
}
.leaflet-tooltip-left {
  margin-left: -10px;
}

.leaflet-tooltip-bottom:before {
  margin-top: -18px;
  margin-left: -9px;
  border-bottom-color: #32383e;
}
.leaflet-tooltip-top:before {
  margin-bottom: -18px;
  margin-left: -9px;
  border-top-color: #32383e;
}
.leaflet-tooltip-right:before {
  margin-left: -20px;
  border-right-color: #32383e;
}
.leaflet-tooltip-left:before {
  margin-right: -20px;
  border-left-color: #32383e;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
  margin-top: -10px;
}
.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
	border-width: 10px;
}

// Core variables
$base-font-style:  15px/1 BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$small-font-size:  13px;
$base-font-weight: 300;
$base-line-height: 21px;

$mono-font:        12px/1.5 'Source Code Pro', monospace !important;
$spacing-unit:     30px;

// Custom Colors

$theme-green: #2cb673;
$theme-red: #fe4a49;
$theme-yellow: #ffec34;
$theme-blue: #4a90e2;

// Company Colours

$box-blue: #0482c4;
$box-blue-2: #00aeef;

// Robin Colors

$dark-red: #EB3349;
$red: #EE3F46;
$light-red: #F26D73;
$pale-red: #FCE4E5;

$dark-orange: #F45D43;
$orange: #FD4B46;
$light-orange: #F7AA86;
$pale-orange: #FDEEE6;

$dark-yellow: #F48700;
$yellow: #FFB150;
$light-yellow: #FFC274;
$pale-yellow: #FEE9CE;

$dark-green: #4AB223;
$green: #91CA55;
$light-green: #90D079;
$pale-green: #E1F6DA;

$dark-blue: #2D99D3;
$blue: #5EBEFF;
$light-blue: #c1eaff;
$pale-blue: #E1F5FF;

$dark-purple: #604788;
$purple: #8E45A5;
$light-purple: #B275C5;
$pale-purple: #F7E2FE;

$dark-navy: #252A2E;
$navy: #32383E;
$light-navy: #9CAFBE;
$pale-navy: #D2DAE1;

$gray: #666666;
$byline-gray: #999999;
$border-gray: #E3E3E3;
$border-alt: #EBEBEB;
$background-gray: #F4F6F9;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #2cb673;
$secondary-color:  #5badf0;
$contrast-color:   #EB298C;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin transitions($timing: 500ms) {
  -webkit-transition: all $timing cubic-bezier(0.51, -1.24, 0.4, 0.71);
  -moz-transition: all $timing cubic-bezier(0.51, -1.24, 0.4, 0.71);
  -o-transition: all $timing cubic-bezier(0.51, -1.24, 0.4, 0.71);
  transition: all $timing cubic-bezier(0.51, -1.24, 0.4, 0.71);
}

@mixin linear_transitions($timing: 500ms) {
  -webkit-transition: all $timing linear;
  -moz-transition: all $timing linear;
  -o-transition: all $timing linear;
  transition: all $timing linear;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting-dark", "robinstrap", "dark-theme";
